language: node_js
node_js:
  - "stable"
script:
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  target-branch: master
  keep-history: true
  on:
    branch: develop