@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import '../../node_modules/materialize-css/dist/css/materialize.min.css';
@import 'variables';
@import 'seperators';
// BASE CSS
body {
    font-family: $regular-font;
    color: $primary-green;
}

hr {
    border: 0;
    margin: 20px auto;
    height: 1px;
    background-image: -webkit-linear-gradient(left, $secondary-green, $primary-green, $secondary-green);
    background-image: -moz-linear-gradient(left, $secondary-green, $primary-green, $secondary-green);
    background-image: -ms-linear-gradient(left, $secondary-green, $primary-green, $secondary-green);
    background-image: -o-linear-gradient(left, $secondary-green, $primary-green, $secondary-green);
}

section {
    position: relative;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 30px;
}

footer {
    p {
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
}

p {
    padding: 20px;
}

.nav-wrapper {
    background-color: $primary-green;
}

.brand-logo {
    img {
        height: 64px;
        padding: 15px;
        @media screen and (max-width: 500px) {
            height: 52px;
            padding: 14px;
            margin-left: 35px;
        }
    }
}

.circle-icon-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: $primary-green;
}

.circle-img {
    border-radius: 50%;
    width: 150px;
}

.numbers {
    border: 1px solid $primary-green;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    h5 {
        font-size: 17px;
    }
}

.flag {
    padding: 30px;
    width: 200px;
}

.carousel-item {
    img {
        height: 200px;
        width: 200px;
    }
}

.footer-links {
    a {
        margin: 0 25px;
    }
}

// HELPER CLASSES
.hr-white {
    background-image: -webkit-linear-gradient(left, $white, $primary-green, $white);
    background-image: -moz-linear-gradient(left, $white, $primary-green, $white);
    background-image: -ms-linear-gradient(left, $white, $primary-green, $white);
    background-image: -o-linear-gradient(left, $white, $primary-green, $white);
}

.green-text {
    color: $primary-green !important;
}

.green-background {
    background-color: $secondary-green;
    color: $white;
}

.dotted-underline-white {
    border-bottom: 1px dotted $white;
}

.dotted-underline-green {
    border-bottom: 1px dotted $primary-green;
}

.padding-top {
    padding-top: 100px;
}

.spacer {
    height: 50px;
    width: 100%;
}

.remove-bottom-padding {
    padding-bottom: 0;
}